.navbar {
  background: linear-gradient(90 deg, rgb (66, 2, 194) 0%, rgb(188, 191, 197) 100%);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  z-index: 999;
  background: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10vh;
  position: absolute;
  opacity: 1;
  transition: all 0.5s ease;
  }
  .nav.active {
    background: linear-gradient(90 deg, rgb (66, 2, 194) 0%, rgb(188, 191, 197) 100%)
}

  ::-webkit-scrollbar {display:none;}
  
  .navbar-container {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    max-width: 1500px; 
    
  }

  
  .navbar-logo {
    color: whitesmoke;
    justify-self: start;
    margin-left: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
  }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 1px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: rem;
  }
  
  .nav-item {
    height: 10vh;
  }
  
  .nav-links {
    color: whitesmoke;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid whitesmoke;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: whitesmoke;
  }
  
  .nav-links-mobile {
    display: none;
  }

    
  .menu-icon {
    display: none;
    align-items: center;
    color: whitesmoke;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 40vh;
      position: absolute;
      top: 50px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background:#2b2b2d;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: whitesmoke ;
      color: gray;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: whitesmoke;
      padding: 14px 20px;
      border: 1px solid whitesmoke;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: black;
      color: white;
      transition: 250ms;
    }
  }